@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --navWidth: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/*TopNavigationBar*/
.nav_x ul {
  display: flex;
  text-align: center;
  width: fit-content;
  height: 50px;
  position: absolute;
  right: 25px;
  padding-top: 7px;
  list-style: none;
}
.navbar_x {
  display: flex;
  background-color: "";
  height: 50px;
  color: white;
  width: var(--navWidth);
}

.companyName {
  margin-left: 20px;
}
.companyName a {
  display: flex;
  width: fit-content;
}
.companyName span {
  font-size: 20px;
  letter-spacing: 7px;
  padding-top: 13px;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: orange;
}
.companyName img {
  width: 50px;
}
.navbar_x li a {
  list-style: none;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  display: block;
}
a {
  text-decoration: none;
  color: white;
}
.navbar_x li a:hover {
  padding: 10px 10px 40px 10px;
  background-color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.fixed {
  position: fixed;
  top: 0;
  /* right: 0;
  left: 0;
  z-index: 1030; */
}
.hamburger {
  /* removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

/*TopNavigationBar End*/
/*.home img {
  background: url(/public/homeforex.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  max-width: 100%;
  width: 100vw;
  height: 750px;
  padding-left: 0px;
  padding-right: 0px;
  background-attachment: fixed;
}
.bgDivider {
  background: url(/public/homeforex.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  max-width: 100%;
  width: 100vw;
  height: 750px;
  padding-left: 0px;
  padding-right: 0px;
  background-attachment: fixed;
}*/
.aboutContent {
  height: 300px;
}
.sectionUnderline {
  width: fit-content;
  height: fit-content;
  margin: 30px auto 0px auto;
  border-bottom: 3px solid red;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.btns {
  width: fit-content;
  margin: 20px auto;
}
.sliderBtn {
  margin-left: 20px;
  color: navy;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}
.flexCard {
  display: flex;
  margin: 20px auto;
  width: 90vw;
  height: 500px;
}
.card {
  border: 1px solid blue;
  margin: 50px auto 0 auto;
  width: 32%;
  height: 90%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 10px gainsboro;
}
.card2 {
  margin: 50px auto 0 auto;
  width: 32%;
  height: 90%;
  border-radius: 15px;
}
.card2 img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.cardHeader {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-left: 65%;
  border-bottom: 3px solid red;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
.cardContent {
  text-align: justify;
  padding: 10% 1% 0% 1%;
  font-family: "Ubuntu", sans-serif;
}
.cardBottom {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #2642af;
  /* Segoe Script, Lucida Handwriting, Kunstler Script */
  text-align: center;
}

.Lists li {
  list-style: none;
}
.fa {
  font-size: 40px;
  font-weight: bolder;
}
.fa-code {
  color: orangered;
}
.fa-graduation-cap {
  color: darkcyan;
}
.fa-empire {
  color: darkblue;
}
.fa-facebook-square:hover {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
#History:hover {
  box-shadow: 5px 8px darkcyan;
}
#Mission:hover {
  box-shadow: 5px 8px orangered;
}
#Vision:hover {
  box-shadow: 5px 8px darkblue;
}
.fa span {
  font-size: 20px;
}

@media screen and (max-width: 769px) {
  .hideContact {
    visibility: hidden;
  }
  /*768*/
  .hamburger {
    display: block;
  }
  .nav_x ul {
    display: none;
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 50px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    height: calc(65vh - 77px);
    background-color: rgb(255, 0, 191);
    border-top: 1px solid black;
  }
  .nav_x li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .nav_x li a {
    color: black;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 0.5rem 0;
  }
  .nav_x li:hover {
    background-color: #eee;
  }
  .nav_x.expanded ul {
    display: block;
  }
  .flexCard {
    flex-direction: column;
    height: 1350px;
  }
  .card {
    border: 1px solid blue;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    margin: 10px auto 0px auto;
    /* flex: 90%; */
  }

  .home img {
    height: 400px;
  }
  .card2 {
    width: 90%;
  }
}
